.main-title {
  font-weight: 700;
  font-size: 64px;
  color: white;
}

@media (max-width: 390px) {
  .main-title {
    font-size: 44px;
  }
}

.wrapper-title {
  max-width: 600px;
  margin: auto;
}

.center {
  text-align: center;
}
